# ------------------------------------------------------------------------------
# Choose which language file to use.
language: en_US

# You can create your own language file using the en_Us.lang file found in the 
# lang folder as a template. Make sure to save your language file in the lang 
# folder and change the value of this variable to match the file name of your 
# .lang file.

# ------------------------------------------------------------------------------
# Whether a villager can acquire the same trade more than once.
allowDuplicateTrades: false 

# true: The villager can acquire the same trade multiple times.

# false: The villager cannot acquire multiple trades that have an item result 
# of the same type (e.g. A villager cannot have two seperate trades for a 
# DIAMOND_AXE even if they have different costs or different enchantments on 
# the axe).

# ------------------------------------------------------------------------------
# Should villagers be able to learn Vanilla Minecraft trades?
# If set to true then all villagers cannot learn a Vanilla Minecraft trade.
disableVanillaTrades: false

# You can disable vanilla trades for specific professions. If
# This only works if disableVanillaTrades is set to false
disableVanillaTradesForProfessions: []

# true: The villager cannot learn any Vanilla Minecraft Trades. This does not
# effect pre-existing trades. If a villager is rerolled then it will lose all
# of it's Vanilla Minecraft trades.

# false: The villager can learn Vanilla Minecraft trades. If a villager is
# rerolled, only the custom trades will be rerolled.

# ------------------------------------------------------------------------------
# Should villagers forget custom trades they have acquired but are no longer
# valid (i.e. if a custom trade requires a villager to be in a DESERT biome 
# and the villager moves to another biome, then they will forget that custom
# trade and it will revert back to the original vanilla trade).
forgetInvalidCustomTrades: false

# true: Villagers forget custom trades when they no longer meet the requirements
# to acquire that trade (villagers will only forget custom trades due to level
# requirements if their level is lower than the lowest required level)

# false: The villager will no lose custom trades they have acquired even if
# they do not meet the requirements for that trade any longer

# ------------------------------------------------------------------------------
# Item that you can:
# - right click villagers to reroll their custom trades
# - shift + right click villagers to reset all their trades to vanilla trades 
# requires permission: customvillagertrades.use.rerollitem
tool: CLOCK

# ------------------------------------------------------------------------------
# Requires Vault. This will allow you to use <money> type instead of the
# usual <item stack> type for the result and/or the ingredients of a custom
# trade
enableEconomy: false

# This will allow players to pick up and carry the money generated in the
# trading windows. They can press the DROP key while hovering over their
# money in their inventory at any time to deposit it into their account
enablePhysicalCurrency: false

# The item that will represent a trade involving your Vault Economy as an
# ingredient or as a result
currencyItem: PAPER

# The strings that goes before and after on the cost on a money item:
# "<currencyPrefix><amount><currencySuffix>"
currencyPrefix: "$"
currencySuffix: ""
